# Database Configuration
DB_USERNAME=postgres
DB_PASSWORD=47Ayan96
DB_URL=jdbc:postgresql://localhost:5432/payment_db

# AMQP Configuration
AMQP_HOST=localhost
AMQP_PORT=5672
AMQP_USERNAME=guest
AMQP_PASSWORD=guest

# Application Configuration
QUARKUS_PROFILE=dev
QUARKUS_DEVSERVICES_ENABLED=false
LOG_LEVEL=INFO
APP_LOG_LEVEL=DEBUG
QUARKUS_LOG_LEVEL=INFO

# Payment Provider Configuration
STRIPE_ENABLED=true
STRIPE_API_KEY=your_stripe_test_key
PAYPAL_ENABLED=true
PAYPAL_CLIENT_ID=your_paypal_test_client_id
PAYPAL_CLIENT_SECRET=your_paypal_test_client_secret
